body {background-color: #FBFFB9;}
div#J {background-color: #FDD692;}
div#J {color: #EC7357;}
div#I {color: #EC7357;}
div#I {color: #754F44;}
div#U {color: #EC7357;}
h2#lol {color: #754F44;}
legend {color: #EC7357;}
div#U,a {color: #EC7357;}
label.haha {color: #EC7357;}